{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn" style="background-color: #768dca;color:white;"><i class="fas fa-comment"> {{ button_label|default('Comment') }}</i></button>
{{ form_end(form) }}
