{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn" style="background-color: var(--bg-color);color:var(--font-color);"><i class="fas fa-comment"> {{ button_label|default('Comment') }}</i></button>
{{ form_end(form) }}
