body{
    background-color: darkgray;
}
.bg-navbar{
    background-color: black;
    color: blue;
}

.navbar{
}

.bg-navbar-brand{
    background-color: black;
    color: white;
    width: 300px;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    line-height: 80px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}
