@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
 
$text-color: #ffffff !default;
$background-color: #222 !default;
$logo_size: 25vh;

$first_color: #32306B;
$second_color: #292858;
$gradient_first: #f12711;
$gradient_second: #f5af19;
/*-------------------------------------*/
/*Colors for front*/
/*-------------------------------------*/



/*-------------------------------------*/


 :root {
  --primary-color:  #4D4D4D;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922; 
  --first_color : #E8E8E8;
  --second_color:   	#E0E0E0;
  --gradient_first:  #F56858;
  --gradient_second:  #F8C75E;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --first_color: #32306B;
    --second_color: #292858;
    --gradient_first: #42408F;
    --gradient_second: #212047;    
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute; /* Fixed/sticky position */
  top: 10px; /* Place the button at the bottom of the page */
  right: 180px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}


.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


body {
  position: relative;
  top: 65px;
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 100%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}

h1 {
    color: var(--heading-color);
    font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  max-width: 800px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid transparent;
  font-weight: bold;
  &:hover, &:focus {
      border: 3px solid currentColor;
      text-decoration: none;
  }
}
#navbar a{
  margin:2px;
  padding:2px;
}

section {
  max-width: 68%;
  margin: 0 auto;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logo_index {
    position: relative;
    top:-65px;
    background-color: $background-color;
    animation-name: color;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    display: flex;
    min-height: $logo_size;
    flex-direction: column;
    color:$text-color;
}

article img {
  max-width: 820px;
  max-height: 460px;
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article#post_show img {
  max-width: 100%;
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article iframe {
  max-width: 820px;
  max-height: 460px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post_show#post{
  background-color:  var(--first_color); 
  margin:0 0 25px;
  overflow:hidden;
  padding:20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.container#post{
  background-color: var(--second_color);
   margin-bottom:30px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   padding: 20px;
}

.frontpage#seperator{
  border-collapse:separate; 
  border-spacing:1em;
}

.frontpage#post{
  background-color:  var(--first_color); 
  margin:0 0 25px;
  overflow:hidden;
  padding:20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.form-control{
  background-color: var(--first_color);
  color:white;
  border-color: transparent;
  padding: 10px;
  border-radius: 10px;
}
.form-control::placeholder{
  color:#768dca;
}

.comment{
  background-color: var(--first_color); 
  margin-bottom:30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
}

.comment#seperator{
  border-collapse:separate; 
  border-spacing:1em;
}

article#post_show::first-letter {
  color: #aba9bc;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

#login-nav {
  overflow:hidden;  
  position: absolute; /* Fixed/sticky position */
  top: 215px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 335px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    
    overflow-y:scroll;
    -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
}::-webkit-scrollbar { 
  display: none;  // Safari and Chrome
}

#topic-nav {
  overflow:hidden;  
  position: absolute; /* Fixed/sticky position */
  top: 215px; /* Place the button at the bottom of the page */
  left: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 325px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    
    overflow-y:scroll;
    -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
  margin-bottom: 30px;
}::-webkit-scrollbar { 
  display: none;  // Safari and Chrome
}

#post-add {
  position: absolute; /* Fixed/sticky position */
  top: 30px; /* Place the button at the bottom of the page */
  left: 90px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: var(--second_color); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#post-add i {
  color: var(--secondary-color);
  margin: 0;
  position: relative;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#post-add:hover i {
  color: #fff;
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5,1.5);
}

#post-add:hover {
  background-color: green; /* Add a dark-grey background on hover */
}


#post-delete {
  position: absolute; /* Fixed/sticky position */
  top: 30px; /* Place the button at the bottom of the page */
  left: 150px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#post-delete i {
  color: var(--secondary-color);
  margin: 0;
  position: relative;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#post-delete:hover i {
  color: #fff;
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5,1.5);
}

#post-delete:hover {
  background-color: red; /* Add a dark-grey background on hover */
}


#post-edit {
  position: absolute; /* Fixed/sticky position */
  top: 30px;/* Place the button at the bottom of the page */
  left: 90px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#post-edit i {
  color: var(--secondary-color);
  margin: 0;
  position: relative;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#post-edit:hover i {
  color: #fff;
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

#post-edit:hover {
  background-color: darkgoldenrod; /* Add a dark-grey background on hover */
}

#topic-edit {
  position: absolute; /* Fixed/sticky position */
  top: 30px;/* Place the button at the bottom of the page */
  left: 210px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#topic-edit i {
  color: var(--secondary-color);
  margin: 0;
  position: relative;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#topic-edit:hover i {
  color: #fff;
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

#topic-edit:hover {
  background-color: darkgoldenrod; /* Add a dark-grey background on hover */
}



#back-to-list {
  position: absolute; /* Fixed/sticky position */
  top: 30px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#back-to-list i {
  color: var(--secondary-color);
  margin: 0;
  position: relative;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#back-to-list:hover i {
  color: #fff;
  left: -5px;
}

#back-to-list:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--first_color); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#myBtn i {
  color: var(--secondary-color);
  margin: 0;
  position: relative;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#myBtn:hover i {
  color: #fff;
  bottom: 5px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


@keyframes color {
  0% {
    background-color: var(--gradient_first);
  }
  50% {
    background-color:  var(--gradient_second);
  }
  100% {
    background-color:  var(--gradient_first);
  }
}

img#like{
  cursor: pointer; /* Add a mouse pointer on hover */
  -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

img#unlike{
  cursor: pointer; /* Add a mouse pointer on hover */
  -webkit-filter: grayscale(0%); filter: grayscale(0%);
}

img:hover#like{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

img:hover#unlike{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

a#like {
  &:hover, &:focus {
      border: 0px solid currentColor;
  }
}

