<form method="post" action="{{ path('topic_delete', {'id': topic.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this item?{% endtrans %}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
    <button id="post-delete" title="{% trans %}Delete topic{% endtrans %}"><i class="fas fa-trash-alt"></i></button> 
</form>
